.html

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u10080-55
{
	z-index: 2;
	width: 824px;
	min-height: 540px;
	background-color: #3E3E3F;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 10px;
}

#u10080-3
{
	font-size: 18px;
	text-align: left;
	text-indent: 10px;
	padding-right: 5px;
	padding-left: 2px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10080
{
	line-height: 22px;
}

#u10080-2
{
	font-size: 16px;
	line-height: 19px;
}

#u10080-4,#u10080-6,#u10080-7,#u10080-9,#u10080-10,#u10080-12,#u10080-14,#u10080-15,#u10080-16,#u10080-18,#u10080-20,#u10080-22,#u10080-24,#u10080-26,#u10080-28,#u10080-29,#u10080-31,#u10080-32,#u10080-33,#u10080-35,#u10080-36,#u10080-37,#u10080-39,#u10080-41,#u10080-43,#u10080-45,#u10080-47,#u10080-49,#u10080-51,#u10080-52
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	text-indent: 10px;
	padding-right: 5px;
	padding-left: 2px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u10078
{
	z-index: 57;
	width: 403px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 852px;
}

#u10078_img
{
	padding-bottom: 1px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;


	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1245px;
	min-height: 459.6999999999998px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 51px 25px 66.30000000000018px 10px;
}

#u95-3
{
	z-index: 2;
	width: 1280px;
	min-height: 102px;
	top: -1px;
	left: 0px;
}

#u75
{
	z-index: 7;
	width: 147px;
	top: 0px;
	left: 1133px;
}

#u70
{
	z-index: 5;
	width: 271px;
	top: 17px;
	left: 50px;
}

#menuu1920
{
	z-index: 9;
	width: 445px;
	margin-left: 640px;
}

#u1945
{
	width: 147px;
	min-height: 51px;
	margin-right: -10000px;
}

#u1946
{
	z-index: 12;
	width: 147px;
	height: 51px;
	margin-right: -10000px;
}

#pu1946:hover #u1946,#pu1946:active #u1946
{
	width: 147px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1946:hover ._u1946.f3s_top,#pu1946:active ._u1946.f3s_top
{
	width: 147px;
	height: 20px;
}

#pu1946:hover ._u1946.f3s_mid,#pu1946:active ._u1946.f3s_mid
{
	width: 147px;
	height: 12px;
}

#pu1946:hover ._u1946.f3s_bot,#pu1946:active ._u1946.f3s_bot
{
	width: 147px;
	height: 19px;
}

#pu10092.MuseMenuActive ._u10092.f3s_bot,#pu10092.MuseMenuActive ._u10092.f3s_mid,#pu10078.MuseMenuActive ._u10078.f3s_bot,#pu10078.MuseMenuActive ._u10078.f3s_mid,#pu1946.MuseMenuActive ._u1946.f3s_top,#pu1946.MuseMenuActive ._u1946.f3s_mid,#pu1946.MuseMenuActive ._u1946.f3s_bot
{
	height: 0px;
	padding: 0px;
}

#u1950
{
	width: 209px;
	top: 51px;
}

#u1951
{
	width: 209px;
}

#u70:hover,#u1951:hover
{
	margin: 0px;
}

#u10078
{
	z-index: 24;
	width: 207px;
	height: 30px;
	margin-right: -10000px;
}

#pu10078:hover #u10078
{
	width: 209px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu10078:hover ._u10078.f3s_top
{
	height: 32px;
	width: 209px;
}

#pu10078.MuseMenuActive ._u10078.f3s_top
{
	height: 0px;
	padding: 0px;
}

#u10092
{
	z-index: 33;
	width: 207px;
	height: 30px;
	margin-right: -10000px;
}

#pu10092:hover #u10092
{
	width: 209px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu10092:hover ._u10092.f3s_top
{
	height: 32px;
	width: 209px;
}

#pu10092.MuseMenuActive ._u10092.f3s_top
{
	height: 0px;
	padding: 0px;
}

#pu10078.MuseMenuActive #u10078,#pu10092.MuseMenuActive #u10092
{
	width: 207px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu10078:hover #u10080-4,#pu10092:hover #u10093-4
{
	margin-right: -10000px;
	top: 4px;
	left: 3px;
}

#u10080-4,#pu10078.MuseMenuActive #u10080-4,#u10093-4,#pu10092.MuseMenuActive #u10093-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u10077,#u10091,#u10084
{
	width: 209px;
}

#pu10078,#pu10092,#pu10085
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u10085
{
	z-index: 42;
	width: 207px;
	height: 46px;
	margin-right: -10000px;
}

#pu10085:hover #u10085
{
	width: 209px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu10085:hover ._u10085.f3s_top
{
	width: 209px;
	height: 21px;
}

#pu10085:hover ._u10085.f3s_mid
{
	width: 209px;
	height: 8px;
}

#pu10085:hover ._u10085.f3s_bot
{
	width: 209px;
	height: 19px;
}

#pu10085.MuseMenuActive ._u10085.f3s_top,#pu10085.MuseMenuActive ._u10085.f3s_mid,#pu10085.MuseMenuActive ._u10085.f3s_bot
{
	height: 0px;
	padding: 0px;
}

#pu10085.MuseMenuActive #u10085
{
	width: 207px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu10085:hover #u10086-6
{
	margin-right: -10000px;
	top: -18px;
	left: 3px;
}

#u10086-6,#pu10085.MuseMenuActive #u10086-6
{
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1931
{
	width: 147px;
	min-height: 51px;
	margin-right: -10000px;
	left: 149px;
}

#u1934
{
	z-index: 53;
	width: 147px;
	height: 51px;
	margin-right: -10000px;
}

#pu1946.MuseMenuActive #u1946,#pu1934:hover #u1934,#pu1934:active #u1934
{
	width: 147px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1934:hover ._u1934.f3s_top,#pu1934:active ._u1934.f3s_top
{
	width: 147px;
	height: 20px;
}

#pu1934:hover ._u1934.f3s_mid,#pu1934:active ._u1934.f3s_mid
{
	width: 147px;
	height: 12px;
}

#pu1934:hover ._u1934.f3s_bot,#pu1934:active ._u1934.f3s_bot
{
	width: 147px;
	height: 19px;
}

#pu1934.MuseMenuActive ._u1934.f3s_top,#pu1934.MuseMenuActive ._u1934.f3s_mid,#pu1934.MuseMenuActive ._u1934.f3s_bot
{
	height: 0px;
	padding: 0px;
}

#u1938
{
	width: 147px;
	min-height: 51px;
	margin-right: -10000px;
	left: 298px;
}

#pu1946,#pu1934,#pu1941
{
	width: 0.01px;
	position: relative;
}

#u1941
{
	z-index: 63;
	width: 147px;
	height: 51px;
	margin-right: -10000px;
}

#u1949-4,#u1935-4,#u1944-4
{
	margin-right: -10000px;
	top: 13px;
}

#pu1946:hover #u1949-4,#pu1946:active #u1949-4,#pu1934:hover #u1935-4,#pu1934:active #u1935-4,#pu1941:hover #u1944-4,#pu1941:active #u1944-4
{
	margin-right: -10000px;
	top: -7px;
	left: 0px;
}

#pu1946.MuseMenuActive #u1949-4,#pu1934.MuseMenuActive #u1935-4,#pu1941.MuseMenuActive #u1944-4
{
	margin-right: -10000px;
	top: 13px;
	left: 0px;
}

#pu1934.MuseMenuActive #u1934,#pu1941:hover #u1941,#pu1941:active #u1941
{
	width: 147px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1941:hover ._u1941.f3s_top,#pu1941:active ._u1941.f3s_top
{
	width: 147px;
	height: 20px;
}

#pu1941:hover ._u1941.f3s_mid,#pu1941:active ._u1941.f3s_mid
{
	width: 147px;
	height: 12px;
}

#pu1941:hover ._u1941.f3s_bot,#pu1941:active ._u1941.f3s_bot
{
	width: 147px;
	height: 19px;
}

#pu1941.MuseMenuActive ._u1941.f3s_top,#pu1941.MuseMenuActive ._u1941.f3s_mid,#pu1941.MuseMenuActive ._u1941.f3s_bot
{
	height: 0px;
	padding: 0px;
}

#pu1941.MuseMenuActive #u1941
{
	width: 147px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu4231-3
{
	width: 0.01px;
	margin-top: 35px;
	position: relative;
}

#u4231-3
{
	z-index: 71;
	width: 5px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 249px;
}

#u1003-55
{
	z-index: 74;
	width: 824px;
	min-height: 540px;
	background-color: #3E3E3F;
	position: relative;
	margin-right: -10000px;
}

#u1003-3
{
	font-size: 18px;
	text-align: left;
	text-indent: 10px;
	padding-right: 5px;
	padding-left: 2px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1003
{
	line-height: 22px;
}

#u1003-2
{
	font-size: 16px;
	line-height: 19px;
}

#u1003-4,#u1003-6,#u1003-7,#u1003-9,#u1003-10,#u1003-12,#u1003-14,#u1003-15,#u1003-16,#u1003-18,#u1003-20,#u1003-22,#u1003-24,#u1003-26,#u1003-28,#u1003-29,#u1003-31,#u1003-32,#u1003-33,#u1003-35,#u1003-36,#u1003-37,#u1003-39,#u1003-41,#u1003-43,#u1003-45,#u1003-47,#u1003-49,#u1003-51,#u1003-52
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	text-indent: 10px;
	padding-right: 5px;
	padding-left: 2px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u9111
{
	z-index: 129;
	width: 403px;
	position: relative;
	margin-right: -10000px;
	left: 842px;
}

#u9111_img
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

