{% extends "base.html" %}

{% load static %}


{% block title %}About MS-studio{% endblock title %}


{% block dop_css %}

<style>
 p{text-indent:30px; font-size:15.5px;}

</style>
{% endblock dop_css %}


{% block active_in_menu_ABOUT %}class="active"{% endblock active_in_menu_ABOUT %}


{% block content %}

<div style="background-color:#4c4b4b; width:825px; color:#ffffff; margin:0px 0px 1px 10px; padding:auto; float:left; display:inline-block;" ><b>
 <p>МS&#45;studio &#45;</b> архитектурная студия с более чем пятнадцатилетним опытом работы
 <p>Основатель студии и главный архитектор Маркова Светлана&nbsp; — автор большого числа оригинальных проектов. Под ее руководством студия разработала и реализовала множество неординарных проектов частных жилых домов и общественных объектов, множество дизайн&#45;проектов интерьеров различного назначения, среди которых офис компании BLECK SEE GATE TERMINAL, коттеджный поселок в «Сосновом берегу», офис компании OTIS, промышленный современный рынок на Овидиопольской дороге, спортивная школа «Сатори», учебный центр Эльвиры Приваловой, и многое другое… <p style="margin-top:35px"></p>
 <p>Светлана Маркова является выпускницей Одесской Академии Строительства и Архитектуры 2001 года. На сегодняшний день является членом Ассоциации Архитекторов Украины, а также имеет Квалификационный сертификат архитектора. <p style="margin-top:35px"></p>
 <p>МS&#45;studio является постоянным участником ежегодных строительных выставок BuildTech, &quot;INTER BUILD&quot;, &quot;Одесский Дом&quot;. <p style="margin-top:35px"></p>
 <p>Наши методы проектирования основаны на многолетних «наработках». Более 15&#45;ти лет мы изучаем надежность применяемых нами материалов, рациональность и технологичность решений, закладываемых в проекты домов, в проекты дизайна интерьеров.<p></p>
 <ul> Проектные решения рождаются в результате каждодневной работы по усовершенствованию проектов:
  <li>при работе со строителями мы получаем информацию, позволяющую усовершенствовать рациональность проектов и определить соотношение цены&#45;качества материалов;</li>
  <li>при работе с заказчиками, получаем информацию о практичности и удобстве решений, использованных в наших проектах;</li>
  <li>постоянно изучаем строительные материалы, предлагаемые современным рынком;</li>
  <li>уделяем большое внимание изучению новых технологий и материалов ведущих мировых брендов. Поставщики ведущих марок постоянно консультируют наших проектировщиков.</li>
 </ul> <p style="margin-top:35px"></p>
 <p>Наши проекты — это детально проработанные чертежи, в них заложены грамотные, взвешенные решения, качественные материалы, рациональные конструктивные идеи.<p style="margin-top:35px"></p>
 <p>За годы своей деятельности МS&#45;studio провела тщательную селекцию и установила партнерские отношения со строительным предприятием, зарекомендовавшей себя с лучшей стороны по качеству, быстроте и стоимости работ, чтобы гарантировать своим клиентам сдачу объектов «под ключ» с безупречным качеством, а также предоставить полный спектр обслуживания в области проектирования, строительства, дизайна и ремонта.<p style="margin-top:35px"></p>
 <ul>Наши партнеры:
  <li>проектировщики инженерных сетей и коммуникаций;</li>
  <li>отечественные и зарубежные производители отделочных материалов и мебели;</li>
  <li>фирмы, работающие в области ландшафтного дизайна;</li>
  <li>мастера художественной лепнины;</li>
  <li>художники, специализирующиеся в настенной живописи;</li>
  <li>скульпторы и реставраторы.</li>
 </ul>

</div>


  <!--  <div class="clearfix grpelem" id="u4231-3">image -->
  <div style="display:inline-block; float:right; margin-right:20px">
     <img src="{% static 'images/-c121a596e6894b2668d5cbdac9cba1485c683c9ad606cd8b50-pimgpsh_fullsize_distr.jpg' %}" alt="" width="403" height="539"/>
    </div>

{% endblock content %}

