{% extends "base.html" %}

{% load static %}


{% block title %}Contacts{% endblock title %}


{% block dop_css %}

<style>
    p{font-size:18px}
</style>

{% endblock dop_css %}

{% block active_in_menu_CONTACTS %}class="active"{% endblock active_in_menu_CONTACTS %}


{% block content %}
    <div style="margin: 0px 10px 0px 15px; float:left;">
     <p>Маркова Светлана, Архитектор</p>
        <p style="margin-top:10px"></p>
     <p>Украина, Одесса, ул. Маяковского 10</p>
        <p style="margin-top:10px"></p>
     <p>067&#45;92&#45;66&#45;865</p>
     <p>095&#45;048&#45;15&#45;42</p>
     <p>063&#45;839&#45;79&#45;68</p>
        <p style="margin-top:10px"></p>
     <p>email: daimonsv@rambler.ru</p>
    </div>
<div style="display:inline-block; float:right;">
  <img src="{% static 'images/google_maps.jpg' %}" width="757" height="461">
</div>
{% endblock content %}