{% extends "base.html" %}

{% load static %}

{% block title %}MS-studio{% endblock title %}

{% block dop_css %}

{% endblock dop_css %}

{% block dop_script %}

<script src="{% static 'js/jquery.js' %}"></script>

{% endblock dop_script %}


{% block active_menu1 %}{% endblock active_menu1 %}


{% block content %}

<div id="carousel" class="carousel slide">

    <!-- indicators slides-->
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
<!-- slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="{% url 'projects_home:projects_house' %}"><img src="{% static 'images/14.jpg' %}" alt="" height="577px"></a>
            <div class="carousel-caption">
                <h3>ПРОЕКТЫ ЖИЛЫХ ДОМОВ</h3>
            </div>
        </div>
        <div class="item">
            <a href="{% url 'design_interera:design_intr' %}"><img src="{% static 'images/a.jpg' %}" alt="" height="577px"></a>
            <div class="carousel-caption">
                <h3>ДИЗАЙН ИНТЕРЬЕРА</h3>
            </div>
        </div>
        <div class="item" style="height:577px">
            <a href="{% url 'public_building:building' %}"><img src="{% static 'images/1.jpg' %}" alt="" height="577px"></a>
            <div class="carousel-caption">
                <h3>ПРОЕКТЫ ОБЩЕСТВЕННОГО НАЗНАЧЕНИЯ</h3>
            </div>
        </div>
    </div>
<!-- Стрелки переключения слайдов -->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>



{% endblock content %}
