{% extends "base.html" %}
{% load static %}

{% block active_menu1 %}MuseMenuActive rounded-corners shadow{% endblock active_menu1 %}

{% block title %}{{photos.name}}{% endblock title %}

{% block dop_css %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



<style>
.row{
    margin-left: 25px;
    margin-right: 25px;
}

  #mymy{
	 	border: 2px solid #3E3E3F;
	 	margin-top: 50px;
	 	border-radius: 4px;
	 }

   #first_otstup{
    margin-top:110px
   }

    #font{
     font-family: 'Tangerine', serif;
     font-size: 15px;
    }

      button {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 3px;
  background: transparent;
  line-height: 1; }
  [data-whatinput='mouse'] button {
    outline: 0; }

 .button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.5em 1.2em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #f27b13;
  color: #fefefe; }
  [data-whatinput='mouse'] .button {
    outline: 0; }

.b1{
    padding-bottom: 65px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 65px;

  body {background-color:#7f7f7f; !important}
  .button:focus,.button:hover{background-color:#aab4b5; !important}
  .just_button{background-color:#7f7f7f !important}

a.button:hover{background-color:#aab4b5}
a.just_button.button.round{background-color:#f27b13;}

 </style>

{% endblock dop_css %}


{% block content %}

<div style="margin-top:50px"></div>

{% for picture in photo_list %}
 <div style="padding: 2px -1px 2px 2px; margin:1px 1px 1px 1px; text-align:center;"><img src="{{ picture.img.url }}" alt="1" width="1250px" align="middle"></div>
<br/>
{% endfor %}

<div class="row">
  <div id="b1"><a href="../" class="just_button button round" style="font-size: 20px; text-decoration: none; color:white;  margin-left:50px;">Назад</a></div>
</div>

{% endblock content %}



