{% extends "base.html" %}
{% load static %}

{% block active_in_menu_PRICE %}class="active"{% endblock active_in_menu_PRICE %}
{% block title %}Prices{% endblock title %}

{% block dop_css %}


<style>

 #first_otstup {margin-top:150px; margin-bottom:100px;}

</style>

{% endblock dop_css %}


{% block content %}




<div class="row" id="first_otstup" style="margin:auto; margin-top:50px;">

   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-4" style="border:">
                 <div class="image-wrapper overlay-fade-in">
                  <img src="https://tourneau.scene7.com/is/image/tourneau/DEV9900004?hei=450&wid=300&fmt=png-alpha&resMode=bicub&op_sharpen=1" />
                  <div class="image-overlay-content">
                    <h2>.overlay-fade-in</h2>
                    <p class="price">$99.99</p>
                    <a href="#" class="button">Get it</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                 <p>Стандарт</p>
            </div>
            <div class="col-sm-4 col-xs-4">
                 <p>VIP</p>
            </div>
       </div>
   </div>

{% endblock content %}